
Уважаемый {{ user.firstName? user.firstName  : user.username }}!
<br>
Для смены пароля перейдите по ссылке
<br>
{#<a href="{{ url }}">{{ url }}</a>#}
{# TODO: fix that link #}
{{ app.request.getSchemeAndHttpHost() }}/reset-password/{{ code.code }}
